
.left-cont-std{
    border: 1px solid gray;
    padding: 5% 5% 3% 5%;
}
.output-head-std th,.output-ans-std td{
    text-align:center;
    padding: 50px 70px 25px 70px;
    border: 1px solid rgb(0, 0, 0);
  
}
.output-table-std{
    border:1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.btn-date{
    background-color:#2b5abe;
    color: aliceblue;
    width:60px;
    border-color: aliceblue;
    border-radius: 5px;
    height:30px;
}
