.container-log {
    display: flex;
    text-align: center;
    font-size: larger;
}
.log-img img{
    width:850px; 
    height:540px;
}
.log-form{
    margin-top: 7%;
    margin-left: 13%;
}
.inputs-log{
    margin-top: 10%;
}
.error-text-log{
    font-size:medium;
    color: rgb(224, 21, 21);
}